<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>中国石油大学-成绩管理系统</title>
    <link rel="icon" th:href="@{/assets/ico/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/custome.css}"/>
    <style>

    </style>
</head>
<body>
<div class="student_table_div">
    <!-- 搜索区域 -->
    <div id="searchParam">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" id="nickName" class="layui-input" autocomplete="off" placeholder="请输入学生姓名">
            </div>
            <div class="layui-input-inline">
                <input type="text" id="mobile" class="layui-input" autocomplete="off" placeholder="请输入手机号">
            </div>
            <div class="layui-input-inline layui-form">
                <select id="college" lay-filter="college">
                    <option value="" selected="">请选择学院</option>
                </select>
            </div>
            <div class="layui-input-inline layui-form">
                <select id="department" lay-filter="department">
                    <option value="" selected="">请选择系</option>
                </select>
            </div>
            <div class="layui-input-inline layui-form">
                <select id="major" lay-filter="major">
                    <option value="" selected="">请选择专业</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="createTime" placeholder="请选择创建时间">
            </div>
            <div class="layui-input-inline ">
                <button class="layui-btn" id="search">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
                <button class="layui-btn layui-btn-normal" id="reset">
                    <i class="layui-icon layui-icon-refresh"></i>
                </button>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="student_table" lay-filter="student_table"></table>

    <!-- 头部工具栏 -->
    <script type="text/html" id="toolbar">
    </script>
    <!-- 行工具栏 -->
    <script type="text/html" id="bar">
        {{# if(d.avatar != undefined && d.avatar != '' && d.avatar != null){ }}
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="picture" disabled="">查看头像</a>
        {{# } else { }}
        <a class="layui-btn layui-btn-xs layui-btn-disabled" lay-event="picture">查看头像</a>
        {{# } }}
        <a class="layui-btn layui-btn-xs" lay-event="detail">成绩列表</a>
    </script>
</div>
<script type="text/javascript" th:src="@{/assets/js/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
<script type="text/javascript" th:inline="none">
    let table = layui.table;
    let form = layui.form;
    let layer = layui.layer;
    let $ = jQuery = layui.jquery;
    let laydate = layui.laydate;
    let tree = layui.tree;
    let searchParam;
    let loading;
    let collegeText = "";
    let departmentText = "";
    let majorText = "";

    layui.use(['table', 'layer', 'laydate', 'tree', 'form'], function () {
        searchParam = {
            nickName: null, // 学生姓名
            mobile: null,
            collegeId: null, // 学院ID
            departmentId: null, // 系ID
            majorId: null, // 专业ID
            startTime: null,
            endTime: null,
        }

        // 初始化创建时间选择框
        laydate.render({
            elem: '#createTime'
            , type: 'datetime'
            , range: '~'
            , done: function (value, date, endDate) {
                if (value != null && value != undefined && value != "") {
                    searchParam.startTime = value.split("~")[0];
                    searchParam.endTime = value.split("~")[1];
                } else {
                    searchParam.startTime = null;
                    searchParam.endTime = null;
                }
            }
        });

        /**
         * 初始化学院数据
         */
        let getOrgData = function(id, type) {
            $.ajax({
                type: "get",
                url: "/api/org/get",
                data: {type: type, id: id},
                success: function (data) {
                    if (data.flag) {
                        let $html = "";
                        $.each(data.data, function (index, item) {
                            $html += "<option value='" + item.id + "'>" + item.name + "</option>";
                        });
                        if (type == 1) {
                            $("#college").append($html);
                        }
                        if (type == 2) {
                            $("#department").append($html);
                        }
                        if (type == 3) {
                            $("#major").append($html);
                        }
                        //append后必须从新渲染
                        form.render('select');
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
        };

        //监听学院下拉框
        form.on('select(college)', function(dataObj){
            //移除城市下拉框所有选项
            $("#department").empty();
            let departmentHtml = '<option value="">请选择系</option>';
            $("#department").html(departmentHtml);
            let majorHtml = '<option value="">请选择专业</option>';
            $("#major").html(majorHtml);
            collegeText = $("#college").find("option:selected").text();
            let value = $("#college").val();
            getOrgData(value, 2);
        });

        //监听系下拉框
        form.on('select(department)', function(dataObj){
            //移除城市下拉框所有选项
            $("#major").empty();
            let majorHtml = '<option value="">请选择专业</option>';
            $("#major").html(majorHtml);
            departmentText = $("#department").find("option:selected").text();
            let value = $("#department").val();

            getOrgData(value, 3);
        });

        /**
         * 数据列表
         */
        let scoreTable = function (id) {
            table.render({
                elem: '#student_score'
                , url: '/api/student/scoreList'
                , method: 'get'
                , where: {studentId: id} //设定异步数据接口的额外参数
                , defaultToolbar: []
                , id: 'student_score'
                , page: true
                , autoSort: false
                , parseData: function (res) { //res 即为原始返回的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                }
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 20000 //规定成功的状态码，默认：0
                    , msgName: 'message' //规定状态信息的字段名称，默认：msg
                    , countName: 'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                }
                , title: '学生成绩表'
                , height: '500px'
                , cols: [[
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', width: 80, fixed: 'left', hide: true}
                    , {field: 'nickName', title: '姓名', align: 'center', width: 120}
                    , {field: 'courseName', title: '课程名称', align: 'center'}
                    , {field: 'score', title: '分数', align: 'center', width: 120}
                    , {
                        field: 'startTime', title: '课程时间', align: 'center', width: 320,
                        templet: function (res) {
                            if (res.startTime != undefined && res.startTime != null && res.endTime != undefined && res.endTime != null) {
                                let time = res.startTime + " ~ " + res.endTime
                                return time;
                            } else {
                                return "";
                            }
                        }
                    }
                ]]
            });
        }

        // 监听table的行工具栏
        table.on('tool(student_table)', function (obj) {
            let data = obj.data;
            switch (obj.event) {
                case'detail':
                    layer.open({
                        type: 1,
                        area: ['850px', '80%'],
                        title: '学生成绩',
                        shadeClose: true, // 点击遮罩关闭
                        fixed: false, //不固定
                        moveOut: true,
                        content: $("#student_score"),
                        yes: function (index, layero) {
                            layer.close(index); //如果设定了yes回调，需进行手工关闭
                        },
                        success: function(layero, index){
                            scoreTable(data.id);
                        },
                        end: function (layero, index) {
                            table.init('student_score');
                            // 移除表格元素，不对后面的操作产生影响
                            let $div = $("div[lay-id$='student_score']");
                            $div.remove()
                        }
                    });
                    break;
                case 'picture':
                    let picture = data.avatar;
                    if (picture != null && picture != undefined && picture != '') {
                        let json = {
                            "title": "查看头像", //相册标题
                            "id": 'user_head_img', //相册id
                            "start": 0, //初始显示的图片序号，默认0
                            "data": [   //相册包含的图片，数组格式
                                {
                                    "alt": "查看头像",
                                    "pid": data.id, //图片id
                                    "src": picture, //原图地址
                                    "thumb": picture //缩略图地址
                                }
                            ]
                        };
                        layer.photos({
                            photos: json
                            , anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
                        });
                    }
                    break;
            }
        });

        // 点击查询
        $("#search").click(function () {
            searchParam.nickName = $("#nickName").val();
            searchParam.mobile = $("#mobile").val();
            searchParam.collegeId = $("#college").val();
            searchParam.departmentId = $("#department").val();
            searchParam.majorId = $("#major").val();
            searchParam.page = 1;
            renderTable();
        });

        // 重置搜索
        $("#reset").click(function () {
            // 清空搜索条件内容
            $("#nickName").val("");
            $("#college").val("");
            $("#department").val("");
            $("#major").val("");
            $("#createTime").val("");
            // 重置页面渲染内容（layui需要的）
            form.render();

            // 清空搜索条件，重新触发表格查询和渲染
            searchParam.nickName = null;
            searchParam.mobile = null;
            searchParam.collegeId = null;
            searchParam.departmentId = null;
            searchParam.majorId = null;
            searchParam.startTime = null;
            searchParam.endTime = null;
            renderTable();
        });

        /**
         * 数据列表
         */
        let renderTable = function () {
            table.render({
                elem: '#student_table'
                , url: '/api/student/list'
                , method: 'post'
                , where: searchParam //设定异步数据接口的额外参数
                , contentType: 'application/json'
                , toolbar: '#toolbar' //开启头部工具栏，并为其绑定左侧模板
                , defaultToolbar: ['filter', 'exports', 'print']
                , page: true
                , autoSort: false
                , parseData: function (res) { //res 即为原始返回的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                }
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 20000 //规定成功的状态码，默认：0
                    , msgName: 'message' //规定状态信息的字段名称，默认：msg
                    , countName: 'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                }
                , title: '学生数据表'
                , height: 'full-80'
                , cols: [[
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', width: 80, fixed: 'left', hide: true}
                    , {field: 'nickName', title: '姓名', align: 'center', width: 120}
                    , {
                        field: 'gender', title: '性别', align: 'center', width: 80, templet: function (res) {
                            if (res.gender == 1) {
                                return "男";
                            } else if (res.gender == 2) {
                                return "女";
                            } else {
                                return "";
                            }
                        }
                    }
                    , {field: 'username', title: '学号', align: 'center', width: 120}
                    , {field: 'mobile', title: '手机号', align: 'center', width: 120}
                    , {field: 'email', title: '邮箱', align: 'center', width: 180}
                    , {
                        field: 'avatar', title: '头像', align: 'center', width: 100, templet: function (res) {
                            if (res.avatar != null && res.avatar != undefined && res.avatar != '') {
                                let img = '<img style="display: inline-block; width: 50%; height: 100%;" src="' + res.avatar + '">';
                                console.log(img)
                                return img
                            } else {
                                return "";
                            }
                        }
                    }
                    , {field: 'collegeName', title: '院', align: 'center', width: 160}
                    , {field: 'departmentName', title: '系', align: 'center', width: 160}
                    , {field: 'majorName', title: '专业', align: 'center'}
                    , {
                        field: 'status', title: '用户状态', align: 'center', width: 120, templet: function (res) {
                            if (res.status == 0) {
                                return '<span class="layui-badge layui-bg-blue">正常</span>';
                            } else {
                                return '<span class="layui-badge layui-bg-gray">锁定</span>';
                            }
                        }
                    }
                    , {
                        field: 'createTime',
                        title: '创建时间',
                        align: 'center',
                        width: 180,
                        templet: function (res) {
                            if (res.createTime != undefined && res.createTime != null) {
                                return res.createTime
                            } else {
                                return "";
                            }
                        }
                    }
                    , {fixed: 'right', title: '操作', align: 'center', width: 180, toolbar: '#bar'}
                ]]
            });
        }

        // 初始化院选择框
        getOrgData("", 1);
        // 调用表格渲染方法
        renderTable();
    });
</script>
</body>
<table class="layui-hide" id="student_score" lay-filter="student_score" hidden></table>
</html>