<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>中国石油大学-成绩管理系统</title>
    <link rel="icon" th:href="@{/assets/ico/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/custome.css}"/>
    <style>

    </style>
</head>
<body>
<!-- 课程添加面板 开始-->
<div class="panel panel-default operation_course" hidden>
    <div class="panel-heading title"></div>
    <div class="layui-card-body">
        <form class="layui-form " action="" lay-filter="noticeInfo" style="margin-top: 10px">
            <div class="layui-row layui-col-space5">
                <div class="layui-col-md4">
                    <input name="id" hidden/>

                    <div class="layui-form-item">
                        <label class="layui-form-label">公告名称</label>
                        <div class="layui-input-block">
                            <input type="name" name="name" lay-verify="required" lay-reqtext="公告名称不能为空"
                                   onkeyup="this.value=this.value.replace(/\s+/g, '')" placeholder="请输入公告名称"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">公告对象</label>
                        <div class="layui-input-block">
                            <input type="radio" name="target" value="1" title="学生" lay-filter="radio-type">
                            <input type="radio" name="target" value="2" title="老师" lay-filter="radio-type">
                            <input type="radio" name="target" value="3" title="全体人员" lay-filter="radio-type" checked="">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">公告内容</label>
                        <div class="layui-input-block">
                            <textarea name="content" placeholder="请输入公告内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 提交保存和返回-->
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 25% !important;">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- 课程添加面板 结束-->

<div class="notice_table_div">
    <!-- 搜索区域 -->
    <div id="searchParam">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" id="name" class="layui-input" autocomplete="off" placeholder="请输入公告名称">
            </div>
            <div class="layui-input-inline layui-form" id="publishFlagForm">
                <select id="status">
                    <option value="" selected="">请选择发布状态</option>
                    <option value="0">未发布</option>
                    <option value="1">已发布</option>
                </select>
            </div>
            <div class="layui-input-inline ">
                <button class="layui-btn" id="search">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
                <button class="layui-btn layui-btn-normal" id="reset">
                    <i class="layui-icon layui-icon-refresh"></i>
                </button>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="notice_table" lay-filter="notice_table"></table>

    <!-- 头部工具栏 -->
    <script type="text/html" id="toolbar">
        <div class="layui-btn-group">
            <button type="button" class="layui-btn layui-btn-sm layui-btn-radius" lay-event="add">
                <i class="layui-icon layui-icon-add-circle"></i>
            </button>
        </div>
        <div class="layui-btn-group">
            <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger" lay-event="batchDel">
                <i class="layui-icon layui-icon-delete"></i>
            </button>
        </div>
    </script>
    <!-- 行工具栏 -->
    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        {{# if(d.status != null && d.status != undefined && d.status > 0){ }}
        <a class="layui-btn layui-btn-xs layui-btn-disabled">发布</a>
        {{# } else { }}
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="publish">发布</a>
        {{# } }}
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>
<script type="text/javascript" th:src="@{/assets/js/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
<script type="text/javascript" th:inline="none">
    let table = layui.table;
    let form = layui.form;
    let layer = layui.layer;
    let $ = jQuery = layui.jquery;
    let laydate = layui.laydate;
    let tree = layui.tree;
    let searchParam;
    let loading;

    layui.use(['table', 'layer', 'laydate', 'tree', 'form'], function () {
        searchParam = {
            name: null, // 公告名称
            status: null, // 发布状态
        }

        /**
         * 数据列表
         */
        let renderTable = function () {
            table.render({
                elem: '#notice_table'
                , url: '/api/notice/list'
                , method: 'post'
                , where: searchParam //设定异步数据接口的额外参数
                , contentType: 'application/json'
                , toolbar: '#toolbar' //开启头部工具栏，并为其绑定左侧模板
                , defaultToolbar: ['filter', 'exports', 'print']
                , page: true
                , autoSort: false
                , parseData: function (res) { //res 即为原始返回的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                }
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 20000 //规定成功的状态码，默认：0
                    , msgName: 'message' //规定状态信息的字段名称，默认：msg
                    , countName: 'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                }
                , title: '公告数据表'
                , height: 'full-80'
                , cols: [[
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', width: 80, fixed: 'left', hide: true}
                    , {field: 'name', title: '名称', align: 'center', width: 120}
                    , {field: 'content', title: '内容', align: 'center'}
                    , {field: 'status', title: '发布状态', align: 'center', width: 120,
                        templet: function (res) {
                            if (res.status == 1) {
                                return '<span class="layui-badge layui-bg-green">已发布</span>';
                            } else if (res.status == 0) {
                                return '<span class="layui-badge layui-bg-black">未发布</span>';
                            }
                        }
                    }
                    , {field: 'target', title: '对象', align: 'center', width: 120,
                        templet: function (res) {
                            if (res.target == 1) {
                                return '<span class="layui-badge layui-bg-green">学生</span>';
                            } else if (res.target == 2) {
                                return '<span class="layui-badge layui-bg-blue">老师</span>';
                            } else if (res.target == 3) {
                                return '<span class="layui-badge layui-bg-black">全体人员</span>';
                            }
                        }
                    }
                    , {field: 'releaseTime', title: '发布时间', align: 'center', width: 180,
                        templet: function (res) {
                            if (res.releaseTime != undefined && res.releaseTime != null) {
                                let timeArr = res.releaseTime.split("T");
                                return timeArr[0] + " " + timeArr[1]
                            } else {
                                return "";
                            }
                        }
                    }
                    , {fixed: 'right', title: '操作', align: 'center', width: 180, toolbar: '#bar'}
                ]]
            });
        }

        // 监听表格头部工具栏
        table.on('toolbar(notice_table)', function (obj) {
            switch (obj.event) {
                case 'batchDel':
                    let checkData = table.checkStatus('notice_table').data;
                    if (checkData.length == 0) {
                        layer.msg("请选择要删除的数据");
                    } else {
                        let ids = [];
                        $(checkData).each(function (index, item) {
                            ids.push(item.id)
                        });
                        deleteNotice(ids);
                    }
                    break;
                case 'add':
                    $(".title").html("新增公告");
                    $(".notice_table_div").hide();
                    $(".operation_course").show();
                    // 新增面板清空
                    form.val('noticeInfo', {
                        "id": ""
                        , "name": ""
                        , "target": 3
                        , "content": ""
                    });
                    form.render(); //更新全部
                    break;
            };
        });

        /**
         * 删除
         * @param menuIds 菜单id集合
         */
        let deleteNotice = function (ids) {
            layer.confirm('确认删除数据么？', function (index) {
                loading = top.layer.msg('请稍等...', {icon: 16, time: false, shade: 0.8});
                $.ajax({
                    type: "delete",
                    url: "/api/notice/del",
                    data: {ids: ids},
                    traditional: true,
                    success: function (data) {
                        if (data.flag) {
                            renderTable();
                            layer.msg(data.message, {icon: 1});
                        } else {
                            layer.msg(data.message, {icon: 5, time: 2000});
                        }
                        top.layer.close(loading);
                    },
                    error: function (data) {
                        top.layer.close(loading);
                        console.log(data);
                    }
                });

                layer.close(index);
            });
        };

        // 监听table的行工具栏
        table.on('tool(notice_table)', function (obj) {
            let data = obj.data;
            switch (obj.event) {
                case'del':
                    let id = [];
                    id.push(data.id);
                    deleteNotice(id);
                    break;
                case 'edit':
                    $(".notice_table_div").hide();
                    $(".operation_course").show();
                    $(".title").html("编辑公告");
                    form.val('noticeInfo', {
                        "id": data.id
                        , "name": data.name
                        , "content": data.content
                        , "target": data.target
                    });
                    form.render(); //更新全部
                    break;
                case  'publish':
                    layer.confirm('确认发布该公告？', function (index) {
                        loading = top.layer.msg('请稍等...', {icon: 16, time: false, shade: 0.8});
                        $.ajax({
                            type: "get",
                            url: "/api/notice/release",
                            data: {id: data.id},
                            success: function (data) {
                                if (data.flag) {
                                    renderTable();
                                    layer.msg(data.message, {icon: 1});
                                } else {
                                    layer.msg(data.message, {icon: 5, time: 2000});
                                }
                                top.layer.close(loading);
                            },
                            error: function (data) {
                                top.layer.close(loading);
                                console.log(data);
                            }
                        });
                        layer.close(index);
                    });
                    break;
            }
        });

        // 点击查询
        $("#search").click(function () {
            searchParam.name = $("#name").val();
            searchParam.status = $("#status").val();
            searchParam.page = 1;
            renderTable();
        });

        // 重置搜索
        $("#reset").click(function () {
            // 清空搜索条件内容
            $("#name").val("");
            $("#status").val("");
            // 重置页面渲染内容（layui需要的）
            form.render();

            // 清空搜索条件，重新触发表格查询和渲染
            searchParam.name = null;
            searchParam.status = null;
            searchParam.page = 1;
            renderTable();
        });

        // 取消课程保存
        $("#btn_cancel").click(function () {
            $(".notice_table_div").show();
            $(".operation_course").hide();
            return false;
        });


        // 提交保存
        form.on('submit(submit)', function (data) {
            loading = top.layer.msg('请稍等...', {icon: 16, time: false, shade: 0.8});
            $.ajax({
                type: "post",
                url: "/api/notice/save",
                data: JSON.stringify(data.field),
                dataType: "json",
                contentType: 'application/json;charset=utf-8',
                async: false,
                success: function (data) {
                    if (data.flag) {
                        renderTable();
                        $(".notice_table_div").show();
                        $(".operation_course").hide();
                        layer.msg(data.message, {icon: 1});
                    } else {
                        layer.msg(data.message, {icon: 5, time: 2000});
                    }
                    top.layer.close(loading);
                },
                error: function (data) {
                    top.layer.close(loading);
                    console.log(data);
                }
            });
            return false;
        });

        // 调用表格渲染方法
        renderTable();
    })
</script>
</body>
</html>