<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>中国石油大学-成绩管理系统</title>
    <link rel="icon" th:href="@{/assets/ico/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
</head>
<body>
<div class="layui-container" style="width:400px;">
    <form action="" class="layui-form" id="passForm">
        <div class="layui-form-item">
            <label class="layui-form-label">旧密码</label>
            <div class="layui-input-block">
                <input type="password" name="oldPwd" id="oldPwd" class="layui-input" lay-verify="required" />
            </div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input type="password" name="newPwd" id="newPwd" class="layui-input" lay-verify="required" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" name="rePass" lay-verify="required|repass" class="layui-input" verify="required" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="baseSubmit">保存</button>
            </div>
        </div>

    </form>
</div>
<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
<script type="text/javascript" th:inline="none">
    let form = layui.form;
    let layer= layui.layer;
    let $ = jquery = layui.jquery;
    form.verify({
        // 自定已校验规则
        repass: function(value) {
            let newPwd = $("#newPwd").val();
            if(newPwd!=value) {
                return '两次输入的密码不一致';
            }
        }
    });
    form.on('submit(baseSubmit)',function (data) {
        let oldPwd = $("#oldPwd").val();
        let newPwd = $("#newPwd").val();
        $.ajax({
            type: "post",
            url: "/api/user/password",
            data: {oldPwd: oldPwd, newPwd: newPwd},
            async: false,
            success: function (data) {
                if (data.flag) {
                    layer.msg('密码已经变更请重新登录', {
                        icon: 1,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        // top.window.location.href="/index/login";
                        $.get("/api/logout", function (data, status) {
                            console.log("退出成功！")
                            top.location.href="/index/login";
                        });
                    });
                } else {
                    layer.msg(data.message, {icon: 5, time: 2000});
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
        return false;
    })
</script>
</body>
</html>