<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>中国石油大学-成绩管理系统</title>
    <link rel="icon" th:href="@{/assets/ico/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/custome.css}"/>
    <style>


    </style>
</head>
<body>
<!-- 角色添加面板 开始-->
<div class="panel panel-default operation_user" hidden>
    <div class="panel-heading title"></div>
    <div class="layui-card-body">
        <form class="layui-form " action="" lay-filter="roleInfo" style="margin-top: 10px">
            <div class="layui-row layui-col-space5">
                <div class="layui-col-md4">
                    <input name="id" hidden/>
                    <div class="layui-form-item">
                        <label class="layui-form-label">角色名称</label>
                        <div class="layui-input-block">
                            <input type="name" name="name" placeholder="请输入角色名称" lay-verify="required"
                                   lay-reqtext="角色名称不能为空" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-form-label ">角色编码</div>
                        <div class="layui-input-block">
                            <input type="name" name="code" placeholder="请输入角色编码" lay-verify="required"
                                   lay-reqtext="角色编码不能为空" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="remark" placeholder="请输入备注内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">请选择权限</label>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-tree">
                            <div id="permissionTree"></div>
                        </div>
                    </div>
                </div>


            </div>

            <!-- 提交保存和返回-->
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 45% !important;">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- 角色添加面板 结束-->

<div class="role_table_div">
    <!-- 搜索区域 -->
    <div id="searchParam">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" id="name" class="layui-input" autocomplete="off" placeholder="请输入角色名称/编码">
            </div>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="createTime" placeholder="创建时间">
            </div>
            <div class="layui-input-inline ">
                <button class="layui-btn" id="search">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
                <button class="layui-btn layui-btn-normal" id="reset">
                    <i class="layui-icon layui-icon-refresh"></i>
                </button>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="role_table" lay-filter="role_table"></table>
    <!-- 头部工具栏 -->
    <script type="text/html" id="toolbar">
        <div class="layui-btn-group">
            <button type="button" class="layui-btn layui-btn-sm layui-btn-radius" lay-event="add">
                <i class="layui-icon layui-icon-add-circle"></i>
            </button>
        </div>
        <div class="layui-btn-group">
            <button type="button" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger"
                    lay-event="batchDel">
                <i class="layui-icon layui-icon-delete"></i>
            </button>
        </div>
    </script>
    <!-- 行工具栏 -->
    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>

<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
<script type="text/javascript" th:inline="none">
    let table = layui.table;
    let laypage = layui.laypage
    let form = layui.form;
    let layer = layui.layer;
    let $ = jQuery = layui.jquery;
    let laydate = layui.laydate;
    let upload = layui.upload
    let tree = layui.tree;
    let transfer = layui.transfer;
    let searchParam;
    let loading;
    layui.use(['table', 'laypage', 'layer', 'laydate', 'tree', 'transfer', 'upload'], function () {
        searchParam = {
            name: null,
            startTime: null,
            endTime: null,
            pageNum: 1,
            pageSize: 10
        }

        // 初始化创建时间选择框
        laydate.render({
            elem: '#createTime'
            , type: 'datetime'
            , range: '~'
            , done: function (value, date, endDate) {
                if (value != null && value != undefined && value != "") {
                    searchParam.startTime = value.split("~")[0];
                    searchParam.endTime = value.split("~")[1];
                } else {
                    searchParam.startTime = null;
                    searchParam.endTime = null;
                }
            }
        });

        // 点击查询
        $("#search").click(function () {
            searchParam.name = $("#name").val();
            searchParam.page = 1;
            renderTable();
        });

        // 重置搜索
        $("#reset").click(function () {
            // 清空搜索条件内容
            $("#createTime").val("");
            $("#name").val("");
            // 重置页面渲染内容（layui需要的）
            form.render();

            // 清空搜索条件，重新触发表格查询和渲染
            searchParam.name = null;
            searchParam.startTime = null;
            searchParam.endTime = null;
            searchParam.page = 1;
            renderTable();
        });

        // 取消用户保存
        $("#btn_cancel").click(function () {
            $(".role_table_div").show();
            $(".operation_user").hide();
            return false;
        });


        /**
         * 加载权限列表树
         */
        let loadPermissionTree = function (data) {
            tree.render({
                elem: '#permissionTree'
                , data: data
                , onlyIconControl: true  //是否仅允许节点左侧图标控制展开收缩
                , showCheckbox: true  //是否显示复选框
                , id: 'permissionIds'
                , accordion: false
                , click: function (obj) {
                    selectNode = obj;
                    layer.msg(JSON.stringify(selectNode.data.title));
                }
            });


        };

        /**
         * 初始化权限树数据
         */
        let initTree = function (roleId) {
            $.ajax({
                type: "post",
                url: "/api/role/tree",
                data: {id: roleId},
                async: false,
                success: function (res) {
                    loadPermissionTree(res.data);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        };

        /**
         * 数据批量删除
         */
        let deleteData = function(ids) {
            layer.confirm('确认删除数据么？', function (index) {
                loading = top.layer.msg('请稍等...', {icon: 16, time: false, shade: 0.8});
                $.ajax({
                    type: "post",
                    url: "/api/role/delete",
                    data: {ids: ids},
                    traditional: true,
                    success: function (data) {
                        if (data.flag) {
                            renderTable();
                            layer.msg(data.message, {icon: 1});
                        } else {
                            layer.msg(data.message, {icon: 5, time: 2000});
                        }
                        top.layer.close(loading);
                    },
                    error: function (data) {
                        top.layer.close(loading);
                        console.log(data);
                    }
                });

                layer.close(index);
            });
        };

        // 监听表格头部工具栏
        table.on('toolbar(role_table)', function (obj) {
            switch (obj.event) {
                case 'batchDel':
                    let checkData = table.checkStatus('role_table').data;
                    if (checkData.length == 0) {
                        layer.msg("请选择要删除的行");
                    } else {
                        let ids = [];
                        $(checkData).each(function (index, item) {
                            ids.push(item.id);
                        });
                        deleteData(ids);
                    }
                    break;
                case 'add':
                    $(".title").html("新增角色");
                    $(".role_table_div").hide();
                    $(".operation_user").show();
                    // 新增面板清空
                    form.val('roleInfo', {
                        "name": ""
                        , "code": ""
                        , "id": ""
                        , "remark": ""
                    });

                    // 更新组织树
                    initTree("");
                    form.render(); //更新全部
                    break;
            }
        });

        // 监听table的行工具栏
        table.on('tool(role_table)', function (obj) {
            let data = obj.data;
            switch (obj.event) {
                case'del':
                    let userIds = [];
                    userIds.push(data.id);
                    deleteData(userIds);
                    break;
                case 'edit':
                    $(".role_table_div").hide();
                    $(".operation_user").show();
                    $(".title").html("编辑角色");
                    form.val('roleInfo', {
                        "name": data.name
                        , "code": data.code
                        , "id": data.id
                        , "remark": data.remark
                    });
                    // 更新组织树
                    initTree(data.id);
                    form.render(); //更新全部
                    break;
            }
        });

        /**
         * 获取选择的权限id集合
         */
        let getCheckedPermissionIds = function(jsonObj, permissionIds) {
            if(jsonObj==undefined||jsonObj==null||!jsonObj instanceof Object){
                return null;
            }
            for(var i=0;i<jsonObj.length;i++){
                permissionIds.push(jsonObj[i].id);
                getCheckedPermissionIds(jsonObj[i].children,permissionIds);
            }
            return permissionIds;
        }

        // 表单提交
        form.on('submit(submit)', function (data) {
            loading = top.layer.msg('请稍等...', {icon: 16, time: false, shade: 0.8});
            let brchArrays = tree.getChecked('permissionIds');
            let formData = data.field;
            let permissionIds = [];
            formData['permissionIds'] = getCheckedPermissionIds(brchArrays, permissionIds);
            $.ajax({
                type: "post",
                url: "/api/role/save",
                data: JSON.stringify(formData),
                dataType: "json",
                contentType: 'application/json;charset=utf-8',
                async: false,
                success: function (data) {
                    if (data.flag) {
                        renderTable();
                        $(".role_table_div").show();
                        $(".operation_user").hide();
                        layer.msg(data.message, {icon: 1});
                    } else {
                        layer.msg(data.message, {icon: 5, time: 2000});
                    }
                    top.layer.close(loading);
                },
                error: function (data) {
                    top.layer.close(loading);
                    console.log(data);
                }
            });

            return false;
        });


        /**
         * 定义加载树形表格的方法
         * @param data 表格数据
         */
        let renderTable = function () {
            table.render({
                elem: '#role_table'
                , url: '/api/role/list'
                , method: 'post'
                , where: searchParam //设定异步数据接口的额外参数
                , contentType: 'application/json'
                , toolbar: '#toolbar' //开启头部工具栏，并为其绑定左侧模板
                , defaultToolbar: ['filter', 'exports', 'print']
                , page: true
                , autoSort: false
                , parseData: function (res) { //res 即为原始返回的数据
                    return {
                        "code": res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.count, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                }
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 20000 //规定成功的状态码，默认：0
                    , msgName: 'message' //规定状态信息的字段名称，默认：msg
                    , countName: 'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                }
                , title: '用户数据表'
                , height: 'full-80'
                , cols: [[
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', width: 80, fixed: 'left', hide: true}
                    , {field: 'name', title: '名称', align: 'center'}
                    , {field: 'code', title: '编码', align: 'center'}
                    , {
                        field: 'createTime', title: '创建时间', align: 'center', templet: function (res) {
                            if (res.createTime != undefined && res.createTime != null) {
                                let timeArr = res.createTime.split('T');
                                return timeArr[0] + ' ' + timeArr[1]
                            } else {
                                return '';
                            }
                        }
                    }
                    , {
                        field: 'updateTime', title: '更新时间', align: 'center', templet: function (res) {
                            if (res.updateTime != undefined && res.updateTime != null) {
                                let timeArr = res.updateTime.split('T');
                                return timeArr[0] + ' ' + timeArr[1]
                            } else {
                                return '';
                            }
                        }
                    }

                    , {field: 'remark', title: '备注', align: 'center'}
                    , {fixed: 'right', title: '操作', align: 'center', toolbar: '#bar', width: 190}
                ]]
            });
        };

        // 调用表格渲染方法
        renderTable();

    });
</script>
</body>
</html>