<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.george.school.mapper.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.george.school.entity.Notice">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="content" property="content" />
        <result column="target" property="target" />
        <result column="status" property="status" />
        <result column="release_time" property="releaseTime"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <select id="getNoticePage" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            sys_notice
        WHERE
            delete_flag = 0
        <if test="query != null">
            <if test="query.target != null">
                AND target = #{query.target}
            </if>
            <if test="query.status != null">
                AND `status` = #{query.status}
            </if>
            <if test="query.startTime != null and query.startTime != '' and query.endTime != null and query.endTime != ''">
                AND release_time BETWEEN #{query.startTime} AND #{query.endTime}
            </if>
            <if test="query.name != null and query.name != '' ">
                AND `name` LIKE #{query.nameLike}
            </if>
        </if>
        ORDER BY create_time DESC
    </select>
    
    <select id="findStudentNoticeInfo" resultMap="BaseResultMap">
        SELECT * FROM sys_notice WHERE delete_flag = 0 AND `status` = 1 AND target IN (1, 3) ORDER BY release_time DESC LIMIT 2
    </select>

    <select id="findTeacherNoticeInfo" resultMap="BaseResultMap">
        SELECT * FROM sys_notice WHERE delete_flag = 0 AND `status` = 1 AND target IN (2, 3) ORDER BY release_time DESC LIMIT 2
    </select>

    <select id="findManagerNoticeInfo" resultMap="BaseResultMap">
        SELECT * FROM sys_notice WHERE delete_flag = 0 AND `status` = 1 ORDER BY release_time DESC LIMIT 2
    </select>
</mapper>
