<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.george.school.mapper.RoleResourcesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.george.school.entity.RoleResources">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="resources_id" property="resourcesId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <delete id="deleteByRoleId">
        DELETE FROM sys_role_resources WHERE role_id = #{roleId}
    </delete>
</mapper>
