<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.george.school.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.george.school.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="qq" property="qq" />
        <result column="birthday" property="birthday" />
        <result column="gender" property="gender" />
        <result column="avatar" property="avatar" />
        <result column="user_type" property="userType"/>
        <result column="reg_ip" property="regIp" />
        <result column="last_login_ip" property="lastLoginIp" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="login_count" property="loginCount" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
        <result column="org_id" property="orgId"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <resultMap id="UserTableDTOMap" type="com.george.school.model.dto.UserTableDTO">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="qq" property="qq" />
        <result column="birthday" property="birthday" />
        <result column="gender" property="gender" />
        <result column="avatar" property="avatar" />
        <result column="user_type" property="userType"/>
        <result column="reg_ip" property="regIp" />
        <result column="last_login_ip" property="lastLoginIp" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="login_count" property="loginCount" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
        <result column="org_id" property="orgId"/>
        <result column="orgName" property="orgName"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="selectUserByUserName" resultType="com.george.school.model.dto.LoginUserDto">
        SELECT
            id,
            username,
            password,
            nickname,
            mobile,
            email,
            gender,
            avatar,
            last_login_ip AS lastLoginIp,
            last_login_time AS lastLoginTime,
            login_count AS loginCount,
            status
        FROM
            sys_user
        WHERE
            username = #{username}
            AND delete_flag = 0
            LIMIT 1
    </select>

    <select id="getByUserName" resultMap="BaseResultMap">
        SELECT
            id,
            username,
            password,
            user_type,
            nickname,
            mobile,
            email,
            gender,
            avatar,
            last_login_ip,
            last_login_time,
            login_count,
            status
        FROM
            sys_user
        WHERE
            username = #{username}
            AND delete_flag = 0
            LIMIT 1
    </select>

    <select id="getUserPageList" resultMap="UserTableDTOMap">
        SELECT
            su.*,
            o.name AS orgName
        FROM
            sys_user su
            LEFT JOIN sys_organization o ON o.id = su.org_id AND o.delete_flag = 0
        WHERE su.delete_flag = 0
            <if test="query != null">
                <if test="query.username != null and query.username != '' ">
                    AND su.username LIKE #{query.userNameLike}
                </if>
                <if test="query.nickName != null and query.nickName != '' ">
                    AND su.nickname LIKE #{query.nickNameLike}
                </if>
                <if test="query.userType != null">
                    AND su.user_type = #{query.userType}
                </if>
                <if test="query.status != null ">
                    AND su.status = #{query.status}
                </if>
                <if test="query.startTime != null and query.endTime != null">
                    AND su.create_time BETWEEN #{query.startTime} AND #{query.endTime}
                </if>
                <if test="query.field != null ">
                    <if test="query.field != null and query.field == 'createTime' ">
                        ORDER BY su.create_time ${query.order}
                    </if>
                    <if test="query.field != null and query.field == 'nickname' ">
                        ORDER BY su.nickname ${query.order}
                    </if>
                </if>
            </if>
    </select>

    <select id="findUserByMobile" resultType="java.lang.Integer">
        SELECT count(1) FROM sys_user WHERE mobile = #{mobile} AND delete_flag = 0
    </select>

    <select id="findByUserName" resultType="java.lang.Integer">
        SELECT count(1) FROM sys_user WHERE username = #{username} AND delete_flag = 0
    </select>

    <select id="findAllTeacherData" resultType="com.george.school.model.vo.TeacherTreeVo">
        SELECT id, nickname AS title, '0' AS parentId FROM sys_user WHERE user_type = 1 AND delete_flag = 0
    </select>
</mapper>
